<% if adjustments.sum(&:amount) != 0 %>
<div>
    <div class="col-xs-6">
        <span class="h5"><%= type %>: <%= label %></span>
    </div>
    <div class="col-xs-6 text-right">
        <span><%= Spree::Money.new(adjustments.sum(&:amount), currency: @order.currency) %></span>
    </div>
</div>
<% end %>